{% extends "base.html" %}

{% block content %}

<article id="article">
    <h2>{{ object.title }}</h2>
    <p><a href="{% url 'bbs:post-update' object.id %}">编辑</a> 或者 <a href="{% url 'bbs:post-delete' object.id %}">删除</a> 此文章</p>
    <p>阅读次数：{{ object.read_count }}</p>
    <p>作者：<a href="{% url 'bbs:user-detail' object.author_id %}">{{ object.author }}</a></p>
    <p>发布时间：{{ object.created }}</p>
    文章标签：
    <ul>
        {% for tag in object.tags.all %}
            <li><a href="{% url 'bbs:tag-detail' tag.name %}">{{ tag.name }}</a></li>
        {% endfor %}
    </ul>

    <p>{{ object.content }}</p>
    <footer><small><a href="">喜欢（0）</a> <a href="">收藏（0）</a> <a href="">评论（0）</a><a href="{% url 'bbs:comment-create' object.id 0 %}">评论此文章</a></footer></small></footer>

    

  </article>

  <section id="comment">
    <ul>
        {% for comment in comment_list %}
            

            <li>
                {% if comment.replied_id %}
                    回复 {{ comment.replied.author }} 说的 {{ comment.replied.content }}<br/>
                {% endif %}
                <a href="{% url 'bbs:user-detail' comment.author_id %}">{{ comment.author }}</a>：{{ comment.content }} <a href="{% url 'bbs:comment-create' comment.post_id comment.id %}">回复此评论</a></li>
        {% endfor %}
    </ul>
  </section>



    
{% endblock %}