{% extends "base.html" %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

{% if messages %}  
<ul>   
    {% for message in messages %}  
        <li>{{ message }}</li>  
        {% endfor %}  
</ul>   
{% endif %}  

<form method="post" action="{% url 'accounts:register' %}">
{% csrf_token %}
{{ form.as_p }}
  <input type="submit" value="注册" />
  <input type="hidden" name="next" value="{{ next }}" />
</div>
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'accounts:password_reset' %}">忘记密码？</a></p>

{% endblock %}



